<!--部分テンプレート-->
<%= render 'books/newbook', {book: @book , user: @user} %>


<!-- ユーザーの投稿一覧 -->
<p>Books</p>

<p>Title</p>
<p>Opinion</p>


<% @books.each do |book| %>
<div>
  <!--投稿本image-->
  <%= link_to book_path(book.id) do %>
    <%= image_tag @user.get_profile_image(100,100) %>
  <% end %>

  <!--タイトル＿本詳細リンク-->
  <%= link_to book.title , book_path(book.id) %></p>

  <!--投稿本文-->
  <p><%= book.body %></p>

</div>
<% end %>